/* CSS Nativo Grid Mobile First */
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.hero-text, .hero-img {
    width: 100%;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr; /* Mobile */
    gap: 1.5rem;
}
@media (min-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr); /* Tablet */
    }
}
@media (min-width: 1024px) {
    .hero-section {
        flex-direction: row;
        justify-content: space-between;
    }
    .hero-text, .hero-img {
        flex: 1;
    }
    .card-grid {
        grid-template-columns: repeat(3, 1fr); /* Desktop */
    }
}
